:root {
    --primary-color: rgb(255, 0, 0);
    --secondary-color: rgb(255, 230, 0);
    --dark-color: rgb(2, 2, 2);
    --light-color: #ffffff;
    --font-basic: 'Mulish', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body, html {
    font-family: var(--font-basic);
    color: #fff;
    scroll-behavior: smooth;
}

/* scroll bar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 100000vh var(--dark-color);
}
/* up-arrow */

.up-arrow {
    padding: 1rem;
    border: 3px solid var(--dark-color);
    background: var(--dark-color);
    position: fixed;
    aspect-ratio: 1/1;
    overflow: hidden;
    z-index: 99999;
    justify-content: center;
    align-items: center;
    bottom: 4rem;
    right: 4rem;    
    transition: 1s all ease-in-out;
    display: flex;
}

/* header */
header {
    width: 100vw;

}
header .above-boxes {
    display: flex;
    flex-direction: column;
    background: url(/zdj/BWGrill.jpg) no-repeat fixed center/cover;
    align-items: center;
    justify-content: start;
    height: 100vh;

}

header .header-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: .5rem;

}

header .header-bar img {
    width: 200px;
}

header .header-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    
}

header .header-bar ul li {
    display:  inline-block;
    padding: .5rem 0rem;
    transition: .5s all;
    font-size: 1.3rem;
    
}

header .header-bar ul a:last-child {
    padding: .5rem 1rem;
    border: 3px solid var(--light-color);
    background: transparent;
    transition: .5s all;
}

header .header-bar ul li:hover {
    color: var(--primary-color);
}

header .header-bar ul a:last-child:hover {
    border-color: var(--primary-color);
 
}

header .header-subtitles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
    padding: 1rem;
}

header .header-subtitles h1 {
    font-size: 5rem;
}

header .header-subtitles p {
    font-size: 2rem;
    text-align:center;
}

header .header-subtitles a {
    display: flex;
    gap: 1rem;
    box-shadow: var(--primary-color);
    transition: .5s all;
}

header .header-subtitles a:hover {
    box-shadow: 5px 5px var(--primary-color);
    background: #000000;
}

header img {
    width: 35%;
    z-index: 2;

}

/* header about */

header .header-about {
    background: url(/zdj/halfcutcar.png) no-repeat fixed center/cover;
}

header .header-about .header-subs-about {
    padding: 15vh;
    display: flex;
    align-items: end;
    text-align: right;
    flex-direction: column;
    gap: 1rem;
}

header .header-about .header-subs-about h1 {
    font-size: 4rem;
}

header .header-about .header-subs-about p {
    width:40%;
    padding: 1rem;
}

/* header contact */

header .header-contact {
    background: url(/zdj/halfcutcar2.png) no-repeat fixed center/cover;
}

header .header-contact .header-subs-about {
    padding: 15vh;
    display: flex;
    align-items: start;
    text-align: left;
    flex-direction: column;
    gap: 1rem;
}

header .header-contact .header-subs-about h1 {
    font-size: 4rem;
}

header .header-contact .header-subs-about p {
    width:40%;
    padding: 1rem;
}
/* info boxes */

.info-boxes {
    margin: auto;
    display: flex;
    width: 80vw;
    justify-content: center;
    gap: 1rem;
    transform: translateY(-20%);
    z-index: 1;
}

.info-boxes * {overflow: visible;}

.info-boxes .box {
    width: 33%;
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

/* car showcase */

.car {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--dark-color);
    padding: 1rem;
    grid-gap: 1rem;
    font-weight: 1000;
}

.car h1 {
    margin: auto;
    grid-column: 1/ span 3;
    text-align: center;
    font-size: 3rem;
    font-weight: 1000;
}

.car h1 span {
    
    color:  var(--primary-color);
}

.car .part1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.car .part1 img {
    width: 100%;
}

.car .part1 img:first-child {
    grid-column: 1 /span 3;
}

.car .part2  {
    display: flex;
    flex-direction: column;
}


.car .part2 h2 {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
}

.car .part2 h4 {
    font-size: 1.1rem;
    font-weight: 800;
}

.car .part2 table tr th {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    
}

.car .part2 table tr th:first-child {
    text-align: left;
}
.car .part2 table tr th:last-child {
    text-align: right;
}

.car .part2 table tr:nth-child(odd) {
    background: linear-gradient(90deg, var(--primary-color) 0%, var(--light-color) 60%);
    
}
.car .part2 table tr:nth-child(even) {
    background: linear-gradient(90deg, var(--light-color) 30%, var(--primary-color) 100%);
    
}

.car .part3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.car .part3 h2 {
    font-size: 4rem;
    font-weight: 900;
}

.car .part3 a {
    font-weight: 300;
}

.car>a {
    grid-column: 1 /span 3;
    margin: auto;
    font-weight: 100;
    font-size: 2rem;
}

/* how it work */

.how-it-works {
    padding: 2rem;
    color: var(--dark-color);
    background: url(/zdj/darkeninside.jpg) no-repeat fixed center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--light-color);
    
}
    

.how-it-works h2 {
    font-weight: 400;
}

.how-it-works .short-line {
    border-color: var(--dark-color);
}

.how-it-works h1 {
    font-size: 4rem;
}

.how-it-works>p {
    width: 60%;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.how-it-works .showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;

}

.how-it-works .showcase i {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    aspect-ratio: 1/1;
    background: var(--light-color);
    border-radius: 50%;
    color: var(--dark-color);
}

.how-it-works .showcase p {
    font-size: 1rem;
    font-weight: 500;
}

.how-it-works .showcase-subs {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.how-it-works .showcase-subs .box {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

}

.how-it-works .showcase-subs .box h3 {
    font-size: 2rem;
}


.how-it-works .showcase-subs .box p {
    font-weight: 600;
}

/* contact bar */

.contact-bar {
    background: url(/zdj/halfcutbg.png) repeat left center/cover;
    background-size: 200%;
    animation: background-pan 10s linear infinite;
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 1fr;
    padding: 2rem;
    grid-gap: 1rem;
}

    @keyframes background-pan {
        from {
            background-position: 0% center;
        }

        to {
            background-position: -200% center;
        }
    }

.contact-bar .left {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 2rem;
}


.contact-bar .left h1 {
    font-size: 3rem;
    font-weight: 900;
}

.contact-bar .left p {
    font-size: 1.3rem;
    margin-left: 2rem;
}

.contact-bar .right {
    padding: 1rem;
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-bar .right input, 
.contact-bar .right textarea {
    padding: .5rem;
    font-size: 1.3rem;
    border: none;
    font-family: var(--font-basic);
    border: 1px solid var(--dark-color);
}

.contact-bar .right input:focus, 
.contact-bar .right textarea:focus {
    outline: none;
    border: 1px solid var(--primary-color);
}



.contact-bar .right #submit {
    background: var(--primary-color);
    color: var(--light-color);
    outline: none;
    border-color: var(--primary-color);
}

/* contact info before footer */

.contact-info {
    background: url(/zdj/GreyBG.png) no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.contact-info h2 {
    font-size: 1.5rem;
}

.contact-info h1 {
    font-size: 3rem;
}

.contact-info a {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    background: var(--dark-color);
    transition: .5s all;
    margin: 1rem 0rem;
}

.contact-info a:hover {
    box-shadow: 5px 5px var(--primary-color);
}

/* about info boxes */

.about-info {
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding: 2rem;
    color: var(--dark-color);
}

.about-info .box {
    display: flex;
    gap: 1rem;
}

.about-info .box>section>i {
    color: var(--primary-color);
}

.about-info .box ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.about-info .box ul li span {
    color: var(--primary-color);
    font-weight: 700;
}

.about-info .box:last-child {
    flex-direction: column;
}

.about-info .box:last-child form {
    padding: 1rem;
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.about-info .box form input,
.about-info .box form textarea {
    padding: .5rem;
    font-size: 1.3rem;
    border: none;
    font-family: var(--font-basic);
    border: 1px solid var(--dark-color);
}

.about-info .box form input:focus,
.about-info .box form textarea:focus{
    outline: none;
    border: 1px solid var(--primary-color);
}

.about-info .box form input:last-child {
    background: var(--primary-color);
    color: var(--light-color);
    outline: none;
    border-color: var(--primary-color);
}

.about-info .box h2 {
    font-size: 2rem;
}

.about-info .box ul

.about-info .box form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about-info img {
    width: 20vw;
}
/* footer */

footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;
    background: var(--dark-color);

}

footer a {
    text-decoration: underline;
}

.thank-body {
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/zdj/BWGrill.jpg) no-repeat fixed center/cover;

}

.thank-box {
    padding: 1rem;
    color: black;
    background: var(--light-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.thank-box h1 {
    font-size: 3rem;
}

.thank-box p {
    font-size: 2rem;
}

.thank-box a {
    font-size: 1.5rem;
    text-decoration: underline;
}
